<a class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">ひらくよ</a>

<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				もーだるのへっだ
			</div>
			<div class="modal-body">
				もーだるのなかみ
			</div>
		</div>
	</div>
</div>


<li><%= link_to "【所属長承認申請のお知らせ】", user_path(params:{id: @user.id}),remote: true,style:"color:black;" %></li>
<div class="modal fade" id="show-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     あああ
    </div>
  </div>
</div>
